
{% extends 'frame.html' %}

{% comment %}
    this theme is self-made, based on aqua and adapted for carim
{% endcomment %}

{% load staticfiles %}
{% load statix_tags %}
{% load ext %}


{% block theme_css %}
    <link rel='stylesheet' href='{% static 'aqua/style.css' %}' />
{% endblock theme_css %}

{% block theme_js %}
    <script src="{% static 'aqua/script.js' %}"></script>
{% endblock theme_js %}

{% block main_menu %}
    <ol id='main_menu_left' class="li_a_upgrade">
        {% block menu_left %}
            {% block menu_home %}
                <li class="{% if_url 'home' %}"><a href='{% url 'home' %}'><i class="glyphicon glyphicon-home"></i> home</a></li>
            {% endblock menu_home %}
            {% block menu_info %}
                <li class="{% if_url_statix 'about' %}"><a href='{% statix_url 'about' %}'><i class="glyphicon glyphicon-heart"></i> about</a></li>
            {% endblock menu_info %}
            {% block menu %}
            {% endblock menu %}
        {% endblock menu_left %}
    </ol>
    <ol id='main_menu_right' class="li_a_upgrade">
        {% block menu_right %}
            {% block menu_auth %}
                {% if request.user.is_authenticated %}
                    <li class="{% if_url 'logout' %}"><a href='{% url 'logout' %}?next={{ request.path }}'><i class="glyphicon glyphicon-off"></i> logout</a></li>
                    <li class="{% if_url 'profile' %}"><a href='{% url 'profile' %}'><i class="glyphicon glyphicon-edit"></i> account</a></li>
                {% else %}
                    <li class="{% if_url 'login' %}"><a href='{% url 'login' %}?next={{ request.path }}'><i class="glyphicon glyphicon-user"></i> login</a></li>
                {% endif %}
            {% endblock menu_auth %}
        {% endblock menu_right %}
    </ol>
    <br class='clear' />
{% endblock main_menu %}


