
{% extends 'frame.html' %}

{% comment %}
    this theme is based on twitter bootstrap
{% endcomment %}

{% load staticfiles %}
{% load statix_tags %}
{% load ext %}


{% block extra_meta %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock extra_meta %}

{% block theme_css %}
    <link rel='stylesheet' href='{% static 'avem/style.css' %}' />
{% endblock theme_css %}

{% block theme_js %}
    <script src="{% static 'avem/script.js' %}"></script>
{% endblock theme_js %}

{% block main_menu %}
    
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			
            {% block menu_home %}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i> {% block brand_name %}home{% endblock brand_name %}</a>
                </div>
            {% endblock menu_home %}
            
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					{% block menu_info %}
                        <li class="{% if_url_statix 'about' %}"><a href='{% statix_url 'about' %}'><i class="glyphicon glyphicon-heart"></i> about</a></li>
                    {% endblock menu_info %}
                    {% block menu %}
                        <!-- add menu items here -->
                    {% endblock menu %}
				</ul>
                
				<ul class="nav navbar-nav navbar-right">
                    {% block menu_auth %}
                        {% if request.user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> account <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="{% if_url 'profile_info' %}"><a href='{% url 'profile_info' %}'><i class="glyphicon glyphicon-user"></i> account</a></li>
                                    <li class="{% if_url 'profile_password' %}"><a href='{% url 'profile_password' %}'><i class="glyphicon glyphicon-lock"></i> password</a></li>
                                    <li class="{% if_url 'profile_settings' %}"><a href='{% url 'profile_settings' %}'><i class="glyphicon glyphicon-cog"></i> settings</a></li>
                                    <li class="{% if_url 'logout' %}"><a href='{% url 'logout' %}?next={{ request.path }}'><i class="glyphicon glyphicon-off"></i> logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="{% if_url 'login' %}"><a href="{% url 'login' %}?next={{ request.path }}"><i class="glyphicon glyphicon-user"></i> login</a></li>
                        {% endif %}
                    {% endblock menu_auth %}
	            </ul>
                
				<form class="navbar-form navbar-right" role="search" method="GET" action="{% url 'search' %}">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="search...">
					</div>
					<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
				</form>
	        </div><!-- /.navbar-collapse -->
	    </div><!-- /.container-fluid -->
	</nav>
{% endblock main_menu %}


