
{% extends 'avem/frame.html' %}

{% comment %}
	this theme is based on twitter bootstrap
{% endcomment %}

{% load staticfiles %}
{% load ext %}


{% block extra_meta %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock extra_meta %}

{% block site_css %}
	<link rel='stylesheet' href='{% static 'style.css' %}' />
{% endblock site_css %}

{% block site_js %}
	<script src="{% static 'script.js' %}"></script>
{% endblock site_js %}

{% block page_attr %}{{ block.super }} class='container'{% endblock page_attr %}

{% block main_menu %}

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" id="menubar-toggle-collapse" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_general" aria-expanded="false">
					<span class="sr-only">Toggle menu</span>
					<i class="glyphicon glyphicon-chevron-down"></i>
				</button>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_account" aria-expanded="false">
					<span class="sr-only">Toggle account options</span>
					<i class="glyphicon glyphicon-user"></i> {% if request.user.is_authenticated %}account{% else %}login{% endif %} <b class="caret"></b>
				</button>
				{% block menu_home %}
					<a class="navbar-brand" href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i> {% block brand_name %}markv{% endblock brand_name %}</a>
				{% endblock menu_home %}
			</div>

			<!-- Account options for small displays: a second collapse item -->
			<div class="hidden-lg hidden-md hidden-sm visible-xs">
				<div class="collapse navbar-collapse" id="menu_account">
					<ul class="nav navbar-nav">
						{% if request.user.is_authenticated %}
							{% include 'avem/menu_items_account.html' %}
						{% else %}
							{% include 'avem/menu_items_login.html' %}
						{% endif %}
					</ul>
				</div>
			</div>

			<!-- Account options for large displays: a normal dropdown menu -->
			<div class="visisble-lg visisble-md visisble-sm hidden-xs">
				<ul class="nav navbar-nav navbar-right navbar-nocollapse">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="glyphicon glyphicon-user"></i> {% if request.user.is_authenticated %}account{% else %}login{% endif %} <b class="caret"></b>
						</a>
						<ul class="dropdown-menu {% if not request.user.is_authenticated %}large-dropdown{% endif %}">
							{% if request.user.is_authenticated %}
								{% include 'avem/menu_items_account.html' %}
							{% else %}
								{% include 'avem/menu_items_login.html' %}
							{% endif %}
						</ul>
					</li>
				</ul>
			</div>

			<!-- Search for medium devices as a button with dropdown formfield (the other one is inside collapse) -->
			<div class="hidden-lg hidden-md visible-sm hidden-xs"> {# todo: also for md? #}
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" id="menu-search-dropdown-button" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="glyphicon glyphicon-search"></i> search
							<span class="caret"></span>
						</a>
						<ul id="menu-search-dropdown" class="dropdown-menu large-dropdown"> {# todo where is the actual form? #}
							<li class="form-group">
								<form action="{% url 'search' %}" method="GET">
									<div class="input-group">
										<input id="search_field" type="text" name="q" class="form-control" placeholder="Search">
										<div class="input-group-btn" >
											<label class="btn btn-default" for="search_submit_dropdown">
												<i class="glyphicon glyphicon-search"></i>
											</label>
										</div>
									</div>
									<input type="submit" style="display: none;" id="search_submit_dropdown" />
								</form>
							</li>
						</ul>
					</li>
				</ul>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="menu_general">
				<ul class="nav navbar-nav">
					{% block menu_info %}
					{% endblock menu_info %}
					{% block menu %}
						<!-- add menu items here -->
					{% endblock menu %}
				</ul>

				<!-- Search for very large (in bar) or very small (in collapse) sites -->
				<div class="visible-lg visible-md hidden-sm visible-xs">
					<div id="menu-search-mainbar" class="nav navbar-form navbar-right">
						<form class="form-inline" role="search">
							<form action="{% url 'search' %}" method="GET">
								<div class="form-group">
									<div class="input-group">
										<input id="search_field" type="text" name="q" class="form-control" placeholder="Search" {% block menu_autofocus %}autofocus{% endblock menu_autofocus %}>
										<div class="input-group-btn" onclick="">
											<label class="btn btn-default" for="search_submit_bar">
												<i class="glyphicon glyphicon-search"></i>
											</label>
										</div>
									</div>
								</div>
								<input type="submit" style="display: none;" id="search_submit_bar" />
							</form>
						</form>
					</div>
				</div>
			</div>
		</div>
	</nav>
{% endblock main_menu %}

{% block content_area %}
	<div class="row">
		<div class="col-xs-12 col-md-8">
			{% block content %}
				empty document for avem/base.html
			{% endblock content %}
		</div>
		<div class="col-xs-12 col-md-4">
			{% block sidebar %}
				<!-- nothing here -->
			{% endblock sidebar %}
		</div>
	</div>
{% endblock content_area %}

{# #todo: should be at the botton OR DEEPER; currently not working #}
{% block footer_area_attr %}{{ block.super }} class='navbar navbar-default navbar-fixed-bottom'{% endblock footer_area_attr %}

{% block footer_attr %}{{ block.super }} class='container'{% endblock footer_attr %}

{% block footer_list_attr %}{{ block.super }} class='list-inline navbar-nav'{% endblock footer_list_attr %}


