
<div class="input-group">
	<div class="input-group-btn" >
		<label class="btn btn-default" for="crispy_file_input_{{ rand_id }}">
			<i class="glyphicon glyphicon-paperclip" aria-hidden="true"></i>
			Browse
		</label>
	</div>
	<input id="crispy_file_input_{{ rand_id }}_name" type="text" class="form-control" placeholder="Select a file" style="cursor: pointer; margin-left: -1px;" readonly>
	{% if clearable %}
		<div class="input-group-btn" onclick="crispy_file_input_clear();">
			<span class="btn btn-default" style="margin-left: -2px;">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</span>
		</div>
	{% endif %}
</div>

<div style="height: 0px; overflow: hidden;">
	<input type="file" name="{{ filewidget.name|slugify }}" id="crispy_file_input_{{ rand_id }}" class="{{ filewidget.class }}" />
</div>

<script>
	function crispy_file_input_fsize_unit(sz)
	{
		/* http://stackoverflow.com/questions/10420352/converting-file-size-in-bytes-to-human-readable */
		var i = 0;
		var unit = ['B', 'kB', 'MB', 'GB', 'TB'];
		while (sz > 103)
		{
			sz = sz / 1024;
			i++;
		}
		sz = sz.toFixed(sz > 20 ? 0: 1);
		return sz + ' ' + unit[i];
	}
	var crispy_file_input_input = document.getElementById('crispy_file_input_{{ rand_id }}');
	var crispy_file_input_name = document.getElementById('crispy_file_input_{{ rand_id }}_name');
	crispy_file_input_name.onclick = function()
	{
		this.blur();
		crispy_file_input_input.click();
	};
	crispy_file_input_input.onchange = function(event)
	{
		crispy_file_input_name.value = this.value.split('\\') + ' (' + crispy_file_input_fsize_unit(this.files[0].size) + ')';
		event.preventDefault();
	};
	{% if clearable %}
		function crispy_file_input_clear()
		{
			crispy_file_input_input.value = '';
			crispy_file_input_name.value = '';
		}
	{% endif %}
</script>


